/*=======GENERAL STYLES========*/
*::before,
*::after {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*=======HEADER SECTION STYLES========*/
header {
  text-align: center;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat; 
  background-size: cover;
  margin: 0 auto;
}

.container {
	width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /*border: 1px solid palevioletred;*/
  display: block;
}

.logo {
  margin-top: 65px;
}

nav {
  padding-top: 47px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: 0 20px;
}

nav a:hover {
  color: lightgray;
}

.head-cont h1 {
  margin-top: 80px;
  font: 65px Ubuntu, bold;
  text-transform: uppercase;
  color: #fff;
}

.head-cont h3 {
  position: relative;
  margin-top: 44px;
  font: 20px Ubuntu, bold;
  text-transform: uppercase;
  color: #fff;
}

.head-cont h3:before {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	box-sizing: border-box;
	border-bottom: 2px solid white;
	left: 100px;
	margin-top: 8px;	
}

.head-cont h3:after {
	content: "";
	position: absolute;
	width: 100px;
	height: 2px;
	box-sizing: border-box;
	border-bottom: 2px solid white;
	right: 100px;
	margin-top: 8px;	
}

.butt {
  background-color: #66cc99;
  font: 20px Ubuntu,bold;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 30px;
  height: 46px;
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  cursor: pointer;
}

.butt:hover {
  background-color: #009966;
  color: black;
} 
/*=======FEATURES SECTION STYLES========*/
.features {
  text-align: center;
  background-color: #eaeaeb;
}

.features-container {
  padding-top: 30px;
}

.features-container .row {
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
  padding: 50px 0;
}

.col {
  padding: 0 24px;
}

.features-content h4 {
  text-transform: uppercase;
  color: black;
  font: 20px Ubuntu, bold;
  padding: 20px 0;
  border-bottom: 2px solid lightgray;
}
/*=======TEMPLATE SECTION STYLES========*/
.template {
  text-align: left;
  background-color: #efefef;
}

.template-container {
  display: flex;
  justify-content: space-between;
}

.template-container .row .col {
  width: 45%;
  display: block;
  margin-left: -24px;
  margin-right: -24px;
}

.temp-butt {
  background-color: #66cc99;
  color: white;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding: 0 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline-block;
  cursor: pointer;
}

.temp-butt:hover {
  background-color: #009966;
  color: gray;
}
/*=======SUPPORT SECTION STYLES========*/
.support {
  background-color: #eaeaeb;
}

.support-title {
  border-bottom: 2px solid lightgray; 
}

.support-title h4 {
  text-transform: uppercase;
  padding-top: 5px;
}

.support .support-img {
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.supp-butt {
  background-color: #d2d5da;
  color: white;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding: 0 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}

.supp-butt:hover {
  background-color: #999999;
}
/*=======CHECK-IT SECTION STYLES========*/
.check-it {
  text-align: center;
  background-color: #efefef;
}

.check-it-container {
  padding-top: 30px;
}

.check-it-container .row {
  display: flex;
  margin-left: -24px;
  margin-right: -24px;
  padding: 50px 0;
}

.check-it-col {
  padding: 0 24px;
  width: 30%;
}

.check-it a {
  color:#50c3af;
  text-decoration: none;
}
/*=======FEATURED-ON SECTION STYLES========*/
.featured-on {
  background-color: #50c3af;
  background-size: cover;
}

.featured-on-container {
  text-align: center;
  padding: 20px 0;
}

.featured-on span {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  color: white;
}

.featured-on-nav-bar {
  padding: 30px 0;
}

.featured-on-nav-bar a {
  margin: 0 20px;
  list-style-type: none;
  text-decoration: none;
  color: #cbede7;
  padding: 0 50px;
}

.featured-on-nav-bar a:first-child {
  font: 26px Belinda;
  padding-left: 10px;
}

.featured-on-nav-bar a:nth-child(2) {
  font: 26px Nexa;
}

.featured-on-nav-bar a:nth-child(3) {
  font: 26px Cabin;
}

.featured-on-nav-bar a:last-child {
  font: 26px Nexa;
  font-weight: bold;
  padding-right: 10px;
}
/*=======FEEDBACK SECTION STYLES========*/
.feedback-col {
  width: 50%;
  justify-content: space-between;
}
.feedback-col:first-child{
  margin-right: 5px;
}

.feedback-img {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
.feedback-title {
  border-bottom: 2px solid gray;
}

.feedback-title h4 {
  text-transform: uppercase;
  padding-top: 5px;
}

.feedback-butt {
  background-color: #66cc99;
  color: white;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding: 0 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline-block;
  cursor: pointer;
}

.feedback-butt:hover {
  background-color: #009966;
  color: black;
}
/*=======THEMEFOREST SECTION STYLES========*/
.themeforest{
  background-color: #efefef;
}

.temeforest-container {
  display: flex;
}

.themeforest-img {
  display: inline-block;
  margin-right: 10px;
  float: left;
  background: url(../img/themeforest-img.jpg) no-repeat; 
  background-size: cover;
}

.themeforest-img img {
  width: 480px;
  height: 388px;
}

.themeforest-butt {
  background-color: #d2d5da;
  color: white;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding: 0 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}

.themeforest-butt:hover {
  background-color: #999999;